/* Colours from www.materialpalette.com  (https://www.materialpalette.com/blue/grey)*/
/* Google Fonts are Heebo, Lato and Roboto (sans-serif)
  note (font-family: 'Heebo', sans-serif;  font-family: 'Roboto', sans-serif;  font-family: 'Lato', sans-serif;)   */
html, body {
  margin: 0;
  padding: 0;
}
html {
overflow-x: hidden;
}
body {
  z-index: -1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
/* Resets the Webkit padding and margins */
* {
  margin: 0;
  padding: 0;
}
.heading_wrapper{
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1976d2; /* Dark Primary Colour */
  color: #FFFFFF; /* Font Colour */
  height:
}
.navigation_wrapper {
  z-index: 2;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: #2196f3;/* Primary Colour */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  min-height: 3em;
}
.navigation {
  z-index: 3;
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  width: 100%;
  text-align: center;
}
.navigation li {
  display: flex;
  width: 25%;
}
.navigation a {
  text-decoration: none;
  display: inline-flex;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
  font-family:  'Roboto', sans-serif;
  font-size: 1em;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/*  Highlights current page by using the class in the li which is active and is different on each page  */
a.active {
  border-bottom: 0.2em #9E9E9E solid;
}
/*.navigation a:hover {
  animation: changecolour 1s linear;
  animation-iteration-count: 1;
  background-color: red; /*  allows for the animation to end on the 100% colour  */
/*}*/
@keyframes changecolour {
  0% {background-color: blue;}
    100% {background-color: red;}
}
.site-wrapper {
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  margin: 0;
  background-color: #F1F1F1  ;
  padding-top: 3.2em; /*  Add together padding from navigation a and font size  */ /* Also this pushes the page down below the nav bar */
  width: 100vw;
}
.footer {
  display: flex;
  flex-grow: 0;
  z-index: 3;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: sans-serif;
  background-color: white;
  bottom: 0;
  width: 100vw;
  height: 50px;
  border-top: 1px solid #BDBDBD;
}
.social_wrapper {
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
}
.fb_icon {
  flex: auto;
  align-self: center;
  text-align: center;
}
.twitter_icon {
  flex: auto;
  align-self: center;
  text-align: center;
}
.content, .content_1 /* Styling the content cards, if new cards are need just add here */ {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: auto;
  width: 60%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  align-items: center;
  margin-top: 1em;
  border-radius: 5px;
  padding: 1em;
  overflow-x: hidden;
  position: relative;
}
.content_1 {
  margin-top: 2em;
  margin-bottom: 1em;
}
/* Banner Image */
.image-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.f1_car {
  z-index: 0;
  max-width: 100vw;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.image-banner-frame {
  position: relative;
  text-align: center;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.span_name {
  display: inline-flex;
  flex: auto;
  flex-flow: row;
  flex-wrap: wrap;
  z-index: 9999;
  position: absolute;
  height: 20vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;/* no black bar under image */
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  width: 100vw;
  height: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 6vw;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Breakpoints!!! */
/* For Some reason this works correctly in chrome dev tools but semi works outside 200px difference */
@media (max-width:620px) {
  .navigation_wrapper {
    padding:0;
  }
  .navigation {
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .navigation a {
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3); /* 0.0625em  */
    border-bottom: 1px solid rgba(0,0,0,0.1); /* 0.0625em  */
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  /* 0.5 em */
  .navigation li {
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
/*  CHANGE THIS!!! */

  .site-wrapper {
    padding-top: 8.8565em;  /* 0.0625em  */
  }
  .social_wrapper {
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap;
  }
  .content_1, .content {
    width: 90%;
  }
}
@media (min-width:621px) and (max-width:1366px) {
  .content,.content_1 {
    width: 80%;
  }
  .navigation_wrapper {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
/* Screen Breakpoint @ 720px and below for viewport height */
@media (max-height:720px) {

  .navigation a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .site-wrapper {
    padding-top: 2em; /* not enough padding */
    width: 100vw;
    max-width: 100vw;
  }
  .navigation_wrapper {
    min-height: 0;
  }
}
@media (max-height:720px) and (max-width:620px) {
  .navigation_wrapper {
    padding:0;
  }
  .navigation {
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .navigation a {
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3); /* 0.0625em  */
    border-bottom: 1px solid rgba(0,0,0,0.1); /* 0.0625em  */
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  /* 0.5 em */
  .navigation li {
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
/*  CHANGE THIS!!! */

  .site-wrapper {
    padding-top: 8.8565em;  /* 0.0625em  */
  }
  .social_wrapper {
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap;
  }
  .content_1, .content {
    width: 90%;
  }
}
