/* Colours from www.materialpalette.com  (https://www.materialpalette.com/blue/grey)*/
/* Google Fonts are Heebo, Lato and Roboto (sans-serif)
  note (
  font-family: 'Heebo', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;)   */
html, body {
  margin: 0;
}
body {
  z-index: -1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navigation {
  z-index: 2;
  list-style: none;
  margin: 0;
  background-color: #2196f3;/* Primary Colour */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.main-header {
  z-index: 2;
  flex: 0 1 auto;
  /*background-color: lightblue;*/
  min-height: 100%;
}
.logo-text {
  text-align: center;
  /*background-color: lightblue;*/
}
.site-wrapper {
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  margin: 0;
  background-color: rgb(194, 189, 195);
  padding-top: 100px;
}
.footer {
  z-index: 3;
  text-align: center;
  font-family: sans-serif;
  background-color: silver;
  overflow: hidden;
  bottom: 0;
  position: fixed;
  width: 100%;
/* x y blur radius spread radius colour */
box-shadow: 19px 0 38px rgba(0, 0, 0, 0.30); , 15px 0 12px rgba(0,0,0,0.22);
}

.content, .content_1 /* Styling the content cards, if new cards are need just add here */ {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: auto;
  width: 80%;
  background: pink;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 5px;
  align-items: center;
}
/*  */
.content {
margin-top: 5em;
}
.content_1 {
/*  */
  margin-top: 2em;
  margin-bottom: 5em;
}


.heading_wrapper{
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1976d2; /* Dark Primary Colour */
  color: #FFFFFF; /* Font Colour */
}
/* For Some reason this works correctly in chrome dev tools but semi works outside 200px difference */
@media (max-width:600px) {
  .navigation {
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .site-wrapper {
    padding-top: 200px;
  }
}
